@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: Latin;
    src: url("~@fonts/cream.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}