<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="WordPress Theme Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app/src/</directory>
            <directory suffix=".php">./theme/</directory>
            <file>./functions.php</file>
        </include>
        <exclude>
            <directory>./vendor/</directory>
            <directory>./node_modules/</directory>
            <directory>./dist/</directory>
            <directory>./tests/</directory>
            <directory>./resources/vendor/</directory>
        </exclude>
    </coverage>

    <php>
        <const name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="./vendor/yoast/phpunit-polyfills" />
        <server name="SERVER_NAME" value="http://example.org"/>
    </php>

    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="coverage-html" target="coverage-html"/>
    </logging>

</phpunit> 