@use "../utilities/variables.scss" as *;
@use "../utilities/mixin.scss" as *;

h2.block-title {
    position: relative;
    font-family: 'Latin';
    text-align: center;
    font-size: clamp(2.5rem , 2.5vw, 3.3rem);
    color: $textColor;

    &::after {
        content: url("~@images/img/serperator.png");
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }
}

h3.heading {
    font-family: 'Latin';
    font-size: clamp(1.6rem , 2.5vw, 2rem);
    color: $textColor;

    &.line {
        position: relative;

        &::after {
            content: url("~@images/img/line.png");
            position: absolute;
            top: calc(100% + 2rem);
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
        }
    }
}

.desc {
    max-width: 71rem;
    margin-top: clamp(2rem, 2.5vw, 3.5rem);
    margin-bottom: clamp(2rem, 2.5vw, 3.5rem);
    margin-left: auto;
    margin-right: auto;
    color: $descTextColor;
    text-align: center;
}

.subheading {
    font-family: 'Latin';
    font-size: 1.4rem;
    color: $subTextColor;
    text-align: center;
}