@use "../utilities/variables.scss" as *;
@use "../utilities/mixin.scss" as *;

.loop-food {
    .menu-wrap {
        display: flex;
        background: #fff;

        .menu-img {
            width: 50%;
        }
        
        img {
            aspect-ratio: 16/9;
            object-fit: cover;
            object-position: center;
        }

        .food-info {
            padding: 1rem;
            flex-grow: 1; /* Giúp phần nội dung kéo giãn ra để cân đối */
            display: flex;
            flex-direction: column;
            justify-content: space-between; /* Căn thông tin trong ô */
        }

        .food-desc {
            font-size: clamp(1.4rem, 2.5vw, 1.6rem);
            color: $descTextColor;
        }

        @include mediaMaxWidth($md) {
            flex-wrap: wrap;

            .menu-img {
                width: 100%;
            }
        }
    }
}